@charset "UTF-8";
/* Custom Styling for JEDI app */

/* Form Panels on RHS of Review Screen */
.jedi-review-panel .uk-panel-title  { font-weight: 600; border-bottom: 1px solid #CCC; margin-bottom: 5px; padding-bottom: 5px; }
.jedi-review-panel .uk-form-row label { font-size: 12px; margin: 3px 0 0 0; padding: 0; }
.jedi-review-panel .jedi-review-actions { text-align: right; padding-top: 5px; margin-top: 5px; border-top: 1px solid #CCC; }
.jedi-doc-preview { height: 90vh; }
